[submodule "vimfiles/bundle/snipmate.vim"]
	path = vimfiles/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-git"]
	path = vimfiles/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vimfiles/bundle/vim-haml"]
	path = vimfiles/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-vividchalk"]
	path = vimfiles/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vimfiles/bundle/vim-align"]
	path = vimfiles/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vimfiles/bundle/vim-supertab"]
	path = vimfiles/bundle/vim-supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "vimfiles/bundle/zencoding-vim"]
	path = vimfiles/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vimfiles/bundle/vim-commentary"]
	path = vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
